<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Body Mass Index Calculator</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>Made with <span class="heart">❤️</span> by Alejandra</footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>
