{% extends "layout.html" %} {% block content %}
<div class="form-container">
  <form action="/register" method="post" class="log-form">
    <img src="../static/images/logo.svg" class="logo" alt="logo" width="50" />
    <input class="log-input" id="username" name="username" placeholder="Username" type="text" />
    <input class="log-input" id="password" name="password" placeholder="Password" type="password" />
    <input class="log-input" id="confirmation" name="confirmation" placeholder="Confirm password" type="password" />
    <button class="log-btn" type="submit">Register</button>
  </form>
</div>
{% endblock %}
